#cambiarClave{
    background-color: #eaeaea;
    text-align: left;
    margin: auto auto auto auto;
    padding: 1em;
    width: 35%;
    -webkit-border-radius: 3px 5px 1px 4px;    
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

/* ------ MI CLAVE ------- */ 
.cambiarPass{
	margin: 0 auto 0 auto;
	border-spacing: 0px;
	background-color: #ddd;
	width: 400px;
}
.cambiarPass tr td{
	background-color: #ddd;
	text-align: right !important;
	padding: 0.5em 1em 0 1em;	
}
/* ------ FIN MI CLAVE ------- */