
/* ========================================================================
* MEDIA NOTIFICACIONES
* ======================================================================== */

.media > .pull-left.has-notif i {
    margin-top: 3px;
    margin-left: -6px;
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.media > .pull-left.has-notif i {
    border: 2px solid #2A2A2A;
}

.media > .pull-left.has-notif i.online {
    background-color: #8CC152;
    animation: opacity-badge 0.6s infinite;
    -webkit-animation: opacity-badge 0.6s infinite;
}

@keyframes opacity-badge {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.2);
    }
}
